.my-calendars-container {
  position: relative;
}

.my-calendars-header {
  position: relative;
  display: inline-block;
  background-color: #eeeeff;
}

.my-calendars-create-dialog {
  position: absolute;
  z-index: 100;
  min-width: 200px;
  min-height: 150px;
  left: 125px;
  top: 0px;
  border: solid 1px #aaa;
  padding: 20px;
  /*background-color: #eee;*/
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.calendar-item-color-block {
  width: 10px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
}

.calendar-item-color-block-disabled {
  background-color: #ffffff;
  border: solid 1px #ccc;
}

.calendar-item-container {
  position: relative;
}

.calendar-item-title-container {
  cursor: pointer;
  display: inline-block;
}

.calendar-monthly {
  /*border: 1px solid;*/
}

.calendar-monthly>div>div {
  /*border: 1px solid;*/
}

.calendar-monthly-header {}

.calendar-monthly-header>div {
  border: 1px solid;
}

.calendar-monthly-date {
  border: 1px solid;
  min-height: 100px;
  max-height: 300px;
  min-width: 100px;
  max-width: 14%;
}


/*
















*/