<div class="calendar-month-container">

  <table class="calendar-day-names-table">
    <tbody>
      <tr>
        <th class="day-names-cell" ng-repeat="dayName in ['Sun', 'Mon', 'Tue','Wed','Thur', 'Fri', 'Sat']">{{dayName}}</th>
      </tr>
    </tbody>
  </table>

  <div ng-repeat="week in monthViewEvents.weeks" class="calendar-week-container">
    <table class="calendar-week-table">
      <thead>
        <tr>
          <th ng-repeat="day in week.days" ng-click="openCreateDialog($event, day.date)">{{day.calendarDisplayDate()}}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="eventIdx in week.eventRowIndexes">

          <td ng-repeat="event in week.eventsAtIndex(eventIdx)" ng-class="{'calendar-event-filler':event.fillerEvent, 'calendar-event-last-event':event.lastEvent}"
          ng-attr-colspan="{{event.daySpanInWeek>1?event.daySpanInWeek:undefined}}" ng-attr-rowspan="{{event.rowSpan>1?event.rowSpan:undefined}}"
          ng-click="!event.fillerEvent?openCreateDialog($event, null, event): openCreateDialog($event, event.date)">

            <div ng-if="!event.fillerEvent" class="calendar-month-view-event">{{event.displayString()}}</div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <br/>

</div>