<div class="calendar-item-container">

  <!-- <button type="button" ng-click="$emit('calendar.toggleCalendarEvents', calendar)" class="btn btn-default">Toggle</button> -->

  <div class="calendar-item-title-container" ng-click="$emit('calendar.toggleCalendarEvents', calendar)">
    <div class="calendar-item-color-block" ng-class="{'calendar-item-color-block-disabled':!calendar.config.showEvents}"
    ng-style="{'background-color': (calendar.config.showEvents?calendar.config.eventColor:'#ffffff')}"></div>

    <span class="calendar-item-title"> {{calendar.title}}</span>
  </div>

  <a href="" class="dropdown-toggle" data-toggle="dropdown">
    <b class="caret"></b>
  </a>

  <ul class="dropdown-menu">
    <li>
      <!-- <a href="#">Set Color (not implemented)</a> -->
      <a href="#" ng-click="openEditDialog(calendar)">Edit</a>
      <!-- <a href="#" data-toggle="modal" data-target="{{'#myModal' + calendar.$$hashKey.replace(':','_')}}">Delete</a> -->
      <a href="#" ng-click="delete(calendar)">Delete</a>
    </li>
  </ul>

  <!-- <div class="modal" id="{{'myModal' + calendar.$$hashKey.replace(':','_')}}" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Delete Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Delete Calendar "{{calendar.title}}"</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" ng-click="$emit('mycalendar.delete', calendar._id)" class="btn btn-primary" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div> -->

</div>