<!-- <div class="container calendar-monthly">
  <div class="row calendar-monthly-header">
    <div class="col-xs-1 calendar-cell">Sun</div>
    <div class="col-xs-1 calendar-cell">Mon</div>
    <div class="col-xs-1 calendar-cell">Tue</div>
    <div class="col-xs-1 calendar-cell">Wed</div>
    <div class="col-xs-1 calendar-cell">Thur</div>
    <div class="col-xs-1 calendar-cell">Fri</div>
    <div class="col-xs-1 calendar-cell">Sat</div>
  </div>


  <div class="row" ng-repeat="week in monthViewEvents.weeks">
    <div class="col-xs-1 calendar-monthly-date calendar-cell" ng-repeat="day in week.days" ng-click="openCreateDialog($event, day.date.value)">
      <div> {{day.date.calendarDisplayDate()}}</div>
      <div class="calendar-event" ng-repeat="event in day.events" ng-click="openCreateDialog($event, null, event)">{{event.displayString()}}</div>
    </div>
  </div>

</div> -->
<div class="calendar-month-container">

  <table class="calendar-day-names-table">
    <tbody>
      <tr>
        <th class="day-names-cell" ng-repeat="dayName in ['Sun', 'Mon', 'Tue','Wed','Thur', 'Fri', 'Sat']">{{dayName}}</th>
      </tr>
    </tbody>
  </table>

  <div ng-repeat="week in monthViewEvents.weeks" class="calendar-week-container">
    <table class="calendar-week-table">
      <thead>
        <tr>
          <th ng-repeat="day in week.days" ng-click="openCreateDialog($event, day.date.value)">{{day.date.calendarDisplayDate()}}</th>
        </tr>
      </thead>

      <tbody>
        <!-- here's where I can do column spanning for multi-day events -->
        <tr ng-repeat="eventIdx in week.eventRowIndexes">

          <td ng-repeat="event in week.eventsAtIndex(eventIdx)" ng-class="{'calendar-event-spacer':event.spacerEvent}"
          ng-attr-colspan="{{event.daysInWeekSpan}}" ng-attr-rowspan="{{event.rowSpan>1?event.rowSpan:undefined}}"
          ng-click="!event.spacerEvent && openCreateDialog($event, null, event)">
            {{event.spacerEvent? null: event.displayString()}} * {{event.eventRowsCount}}
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <br/>

</div>