<div>
  <h3>Calendar Page</h3>

  <div class="row">
    <div class="calendar-top-nav col-md-12">Navigation controls go here</div>
  </div>

  <div class="row">
    <div class="calendar-left-panel  col-md-2">
      <div>Mini calendar</div>

      <div class="calendar-my-calendars-container">
        <div class="calendar-sublist-header">My calendars</div>
        <ul class="list-unstyled">

          <!-- TODO: make directive for calendarList items so we can have popup settings -->
          <li ng-repeat="calendar in vm.calendarList">
            <!-- <div class="checkbox" ng-style="{'background-color': calendar.config.eventColor}"> -->
            <div ng-show="calendar.config.showEvents" style="width:10px;height:10px;display:inline-block;cursor:pointer" ng-style="{'background-color': calendar.config.eventColor}" ng-click="vm.toggleCalendarEvents(calendar)"></div>
            <div ng-hide="calendar.config.showEvents" style="width:10px;height:10px;display:inline-block;cursor:pointer;background-color:#ffffff" ng-click="vm.toggleCalendarEvents(calendar)"></div>
            <span ng-click="vm.toggleCalendarEvents(calendar)" style="cursor:pointer">
              {{calendar.title}}</span>

            <!-- <input type="checkbox" ng-checked="calendar.config.showEvents" ng-model="calendar.config.showEvents" ng-change="vm.toggleCalendarEvents(calendar)">{{calendar.title}}</label> -->
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Set Color (not implemented)</a>
              </li>
              <ul>

          </li>
          </ul>
      </div>
    </div>

    <div class="calendar-main-content col-md-8">calendar view goes here</div>

    <div class="calendar-right-panel col-md-2">Right panel for tasks/notes...</div>
  </div>
</div>