<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{modal.title}}</h4>
</div>

<!-- <form name="eventForm" novalidate ng-submit="submit()" ng-attr-auto-focus="newEvent.forUpdate?undefined:true"> -->
<!-- <form name="eventForm" novalidate ng-submit="submit()" ng-attr-auto-focus="{{false}}"> -->
<form name="eventForm" class="form-horizontal" novalidate ng-submit="submit()">
  <!-- <form name="eventForm" novalidate auto-focus ng-submit="submit()"> -->

  <div class="modal-body">
    <div class="form-group">
      <label for="event-title" class="control-label col-xs-3">Name</label>
      <div class="col-xs-9">
        <input id="event-title" ng-model="newEvent.title" name="title" type="text" class="form-control" placeholder="Event Name"
        required/>
        <p ng-show="eventForm.$submitted && eventForm.title.$invalid " class="invalid-message">Event name is required.</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-3" for="event-notes">Notes</label>
      <div class="col-xs-9">
        <input id="event-notes" ng-model="newEvent.notes" name="notes" type="text" class="form-control" placeholder="Notes"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-3" for="event-calendar">Calendar</label>
      <div class="col-xs-9">
        <select id="event-calendar" class="form-control" ng-model="newEvent.calendarId" ng-options="item._id as item.title for item in calendarList.items">
        </select>
      </div>
    </div>

    <div>

      <div class="form-group">
        <label class="control-label col-xs-3" for="event-start">Start</label>
        <div class="col-xs-9">
          <input type='date' id="event-start" ng-model="newEvent.start" name="start" type="text" class="form-control"
          placeholder="Start" required/>
          <p ng-show="eventForm.$submitted && eventForm.start.$invalid " class="invalid-message">Start is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-3" for="event-end">End</label>
        <div class="col-xs-9">
          <input type='date' id="event-end" ng-model="newEvent.end" name="end" type="text" class="form-control"
          placeholder="End" required/>
          <p ng-show="eventForm.$submitted && eventForm.end.$invalid" class="invalid-message">End is required.</p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-3" for="event-end">Time</label>

        <div class="col-xs-9 checkbox">
          <!-- <input type="checkbox" ng-model="newEvent.allDay" name="allDay"> -->
          <label>
            <input type="checkbox" ng-model="newEvent.allDay" name="allDay">All Day
          </label>
        </div>
      </div>

      <div ng-hide="newEvent.allDay" class="form-group">
        <label class="control-label col-xs-3" for="event-start-time">Start</label>
        <div class="col-xs-9">
          <time-combo id="event-start-time" time="newEvent.startTime" default-time="newEvent.defaultStartTime"></time-combo>
        </div>
      </div>
      <div ng-hide="newEvent.allDay" class="form-group">
        <label class="control-label col-xs-3" for="event-end-time">End</label>
        <div class="col-xs-9">
          <time-combo id="event-end-time" time="newEvent.endTime" min-time="newEvent.minEndTime" default-time="newEvent.defaultEndTime"></time-combo>
        </div>
      </div>
    </div>

    <!-- <div class="form-group">
      <label class="control-label col-xs-3" for="event-color">Color</label>
      <div class="col-xs-9">
        <input id="event-color" ng-model="newEvent.color" name="color" type="color" class="form-control" />
      </div>
    </div> -->

  </div>

  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary" ng-disabled="eventForm.$invalid" ng-click="submit()">Submit</button> -->
    <!-- <button type="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid">Submit</button> -->
    <button ng-show="newEvent.forUpdate" type="button" class="btn btn-danger pull-left" ng-click="delete()">Delete</button>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>