<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">New Calendar</h4>
</div>

<form name="form.newCalendar" ng-submit="submit()" auto-focus>
  <div class="modal-body">

    <div class="form-group">
      <label for="calendar-title">Name</label>
      <input id="calendar-title" ng-model="calendarTitle" name="calendarTitle" type="text" class="form-control"
      placeholder="Calendar Name" required/>
      <p ng-show="form.newCalendar.calendarTitle.$invalid && form.newCalendar.calendarTitle.$touched" class="invalid-message">Calendar name is required.</p>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-disabled="form.newCalendar.$invalid" ng-click="submit()">Submit</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>