<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">New Calendar</h4>
</div>

<form name="eventForm" novalidate ng-submit="submit()" auto-focus>

  <div class="modal-body">
    <div class="form-group">
      <label for="event-title">Name</label>
      <input id="event-title" ng-model="newEvent.title" name="title" type="text" class="form-control" placeholder="Event Name" required/>
      <p ng-show="eventForm.$submitted && eventForm.title.$invalid " class="invalid-message">Event name is required.</p>
    </div>

    <div class="form-group">
      <label for="event-notes">Notes</label>
      <input id="event-notes" ng-model="newEvent.notes" name="notes" type="text" class="form-control" placeholder="Notes" />
    </div>

    <div class="form-group">
      <label for="event-all-day">Calendar</label>
      <select ng-init="newEvent.calendar =  newEvent.calendar || calendarList.items[0]" ng-model="newEvent.calendar" ng-options="item as item.title for item in calendarList.items">
      </select>
    </div>

    <div>

      <div class="form-group">
        <label for="event-start">Start Date</label>
        <input type='date' id="event-start" ng-model="newEvent.start" name="start" type="text" class="form-control" placeholder="Start" required/>
        <p ng-show="eventForm.$submitted && eventForm.start.$invalid " class="invalid-message">Start is required.</p>
      </div>
      <div class="form-group">
        <label for="event-end">End Date</label>
        <input type='date' id="event-end" ng-model="newEvent.end" name="end" type="text" class="form-control" placeholder="End" required/>
        <p ng-show="eventForm.$submitted && eventForm.end.$invalid" class="invalid-message">End is required.</p>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="newEvent.allDay" name="allDay">All Day
        </label>
      </div>

      <div ng-hide="newEvent.allDay" class="form-group">
        <label for="event-start-time">Start Time</label>
        <time-combo id="event-start-time" time="newEvent.startTime" default-time="newEvent.defaultStartTime"></time-combo>
      </div>
      <div ng-hide="newEvent.allDay" class="form-group">
        <label for="event-end-time">End Time</label>
        <time-combo id="event-end-time" time="newEvent.endTime" min-time="newEvent.minEndTime" default-time="newEvent.defaultEndTime"></time-combo>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary" ng-disabled="eventForm.$invalid" ng-click="submit()">Submit</button> -->
    <!-- <button type="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid">Submit</button> -->
    <button ng-show="newEvent.forUpdate" type="button" class="btn btn-danger pull-left" ng-click="delete()">Delete</button>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>