<div class="my-calendars-container">
  <div class="my-calendars-header">My calendars
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <!-- <a ng-click="emit('myCalendar.create')" href="#">Create Calendar</a> -->
        <a ng-click="calendarList.showCreateDialog=true" href="#">Create Calendar</a>

      </li>
    </ul>
  </div>
  <div ng-show="calendarList.showCreateDialog" class="my-calendars-create-dialog">
    <form class="form-horizontal" ng-keypress="$event.keyCode===13?createCalendar():null">
      <div class="form-group">
        <label for="calendar-title">Name</label>
        <input id="calendar-title" ng-model="calendarList.newCalendarTitle" type="text" class="form-control" placeholder="Calendar Name" />
      </div>
      <button type="button" id='btnCancelCreateCalendar' ng-click="clearCreateCalendarForm()" class="btn btn-danger">Cancel</button>
      <button type="button" ng-click="createCalendar()" class="btn btn-default">Submit</button>
    </form>
  </div>

  <ul class="list-unstyled">

    <!-- TODO: make directive for calendarList items so we can have popup settings -->
    <li ng-repeat="calendar in calendarList.items">

      <calendar-list-item calendar="calendar"></calendar-list-item>

    </li>
  </ul>
</div>