<div class="my-calendars-container">
  <div class="my-calendars-header">My calendars
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <!-- <a ng-click="emit('myCalendar.create')" href="#">Create Calendar</a> -->
        <a ng-click="openCreateDialog()" href="#">Create Calendar</a>

      </li>
    </ul>
  </div>

  <ul class="list-unstyled">

    <li ng-repeat="calendar in calendarList.items">

      <calendar-list-item calendar="calendar"></calendar-list-item>

    </li>
  </ul>
</div>